---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

const { frontmatter } = Astro.props;
const { id, data } = frontmatter;
const { title, pubDate, description, image } = data;
console.log("id:", id, frontmatter);
---

<a href={`/posts/${id}`}>
  <article
    class="shadow-md inset-shadow-2xs p-4 mb-4 rounded group-hover:stroke-white relative h-40 hover:scale-[1.005] scale-100 active:scale-100"
  >
    <div class="w-4/5 h-full flex flex-col justify-between">
      <div class="">
        <h3 class="text-[28px] font-black">{title}</h3>
        <p class="text-[13px] color-[#374151]">
          {new Date(pubDate).toLocaleDateString()}
        </p>
      </div>
      <p class="overflow-ellipsis overflow-hidden whitespace-nowrap">
        {description}
      </p>
    </div>
    <div class="absolute top-0 bottom-0 right-0 rounded bg-cover bg-center">
      <!-- {
        image?.url && (
          <Image
            class="rounded"
            src={image?.url}
            alt={image?.alt}
            loading="lazy"
            width={200}
            height={100}
          />
        )
      } -->
      <!-- {
        image?.url && (
          <img
            class="rounded bg-cover h-full"
            src={image?.url}
            alt={image?.alt}
          />
        )
      } -->
    </div>
  </article>
</a>
